app-slider {
  display: flex;
  flex-direction: row;
  inline-size: 100%;
  align-items: center;
  position: relative;
  block-size: 2px;
  background-color: black;
}

.app-slider-front-track {
  block-size: 2px;
  background-color: #A4FFAF;
}

.app-slider-handle {
  block-size: 24px;
  inline-size: 24px;
  border-radius: 50%;
  background: #E6E5EA;
}

.app-slider-handle:active {
  outline: #A4FFAF solid 2px;
  background: black;
}
